{% extends 'base.html' %}

{% block content %}
    <h2>Создание доски</h2>
    <form method="post">
        {% csrf_token %}
{#        {{ form.name }}#}
        <label for="{{ form.name.id_for_label }}"></label>
        <input type="text" class="form-control"
               maxlength="30" name="{{ form.name.name }}"
               placeholder="{{ form.name.help_text }}" id="{{ form.name.id_for_label }}" required>
        <br>
        {{ form.executors }}
        <br>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}