{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-light">
        {% with request.resolver_match.view_name as view_name %}
            <div class="container">
                <nav class="nav nav-pills nav-justified">
                    <a class="navbar-brand" href="{% url 'homepage:home' %}">
                        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                        To Do
                    </a>
                    <a class="{% if view_name == 'catalog:item_list' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="">Задачи</a>
                    <a class="{% if view_name == 'about:description' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="">Чаты</a>
                </nav>
                <nav class="nav nav-pills nav-justified">
                    {% if user and user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'users:profile' user.pk %}">Мой профиль</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="{% if view_name == 'users:login' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="">Вход</a>
                        <a class="{% if view_name == 'users:singup' %}nav-item nav-link active {% else %} nav-item nav-link {% endif %}" href="">Регистрация</a>
                    {% endif %}
                </nav>
            </div>
        {% endwith %}
    </nav>
</header>