{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-light">
        {% with request.resolver_match.view_name as view_name %}
            <div class="container">
                <nav class="nav nav-pills nav-justified">
                    <a class="navbar-brand" href="{% url 'homepage:home' %}">
                        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                        To Do
                    </a>
                    <ul class="navbar-nav">
                        {% with request.resolver_match.view_name as view_name %}
                            {% if view_name == 'board:boards' %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'board:boards' %}">Задачи</a>
                                </li>
                            {% else %}
                                <li class="nav-item ">
                                    <a class="nav-link" href="{% url 'board:boards' %}">Задачи</a>
                                </li>
                            {% endif %}
                            {% endwith %}

                    </ul>
                </nav>
                <nav class="nav nav-pills nav-justified">
                    {% if user and user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'users:profile' user.pk %}">Мой профиль</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="d-flex login">
                            <a class="btn btn-outline-success" href={% url 'users:signup' %}>Зарегистрироваться</a>
                            <a class="btn btn-outline-success" href={% url 'users:login' %}>Войти</a>
                        </div>
                    {% endif %}
                </nav>
            </div>
        {% endwith %}
    </nav>
</header>
